<footer class="site-footer">
  <!-- line 1 -->
  <div class="wrapper footer-top">
    Quantifying&nbsp;Human&nbsp;Development
  </div>

  <!-- line 2 -->
  <div class="wrapper footer-bottom">
    <span>
      © {{ site.time | date: "%Y" }} The Strawbridge Lab
    </span>

	<span class="footer-icons">
	  <a href="https://bsky.app/profile/stanleystrawbridge.bsky.social" aria-label="Bluesky">
		<img src="{{ '/assets/images/footer/bluesky.svg'  | relative_url }}" class="footer-icon" alt="Bluesky logo">
	  </a>
	  <a href="https://www.linkedin.com/in/stanleystrawbridge/" aria-label="LinkedIn">
		<img src="{{ '/assets/images/footer/LinkedIn.png' | relative_url }}" class="footer-icon" alt="LinkedIn logo">
	  </a>
	  <a href="https://twitter.com/StanStrawbridge" aria-label="X (Twitter)">
		<img src="{{ '/assets/images/footer/X.png'        | relative_url }}" class="footer-icon" alt="X logo">
	  </a>
	</span>
  </div>
</footer>
