<header class="site-header">
  <div class="wrapper flex-header">
    <a class="site-logo" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/images/logo/the_strawbrigde_lab_logo_20250807.svg' | relative_url }}" 
           alt="The Strawbridge Lab logo" class="logo-img" />
    </a>

    <nav class="site-nav">
      <ul class="nav-list">
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}
        {% for path in page_paths %}
          {% assign page = site.pages | where: "path", path | first %}
          {% if page.title %}
            <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
