.people-photo {
  width: 250px;
  height: auto;
  display: block;
  margin: 10px auto;
  object-fit: cover;
}

.news-photo {
  width: 100%;
  max-width: 600px;   /* limits large images */
  height: auto;
  object-fit: cover;
  padding: 10px;
  border-radius: 8px;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto; /* centers horizontally */
  padding: 0;
  text-align: center;
}
figcaption {
  font-size: 0.9em;
  color: #555;
  margin-top: 4px;
}